

div 
{
    border: 2px solid red;
}

.main-container 
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap : 100px;
    padding: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#reset
{
    visibility: hidden;
}

.scores
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.roundResult 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}